/*** MSDN Online ***/

	TD, TH { font-size:68%; }

/***
    A:link { color:#003399; }
	A:visited { color:#660099; }
	A:hover { color:#FF3300; }
***/

    A:link { color: navy; }
	A:visited { color: navy; }
	A:hover { color:#FF3300; }
                  
	A.small
	{
		font-size: 95%;
		text-decoration:underline;
	}
	
	A.welcome
	{
		font-size: 95%;
		text-decoration:none;
	}

	H1
	{
		font-size:165%;
		margin:0;
	}

	H2
	{
		font-size:125%;
		margin-top:1em; margin-bottom:0px;
	}

	H3
	{
		font-size:115%;
		margin-bottom:0px;
	}

	H4, H5, H6
	{
		font-size:100%;
		margin-bottom:0px;
	}

	P
	{
		line-height:1.5em;
		margin-top:0.5em; margin-bottom:1.0em;
	}

	PRE
	{
		background:#EEEEEE;
		margin-top:1em; margin-bottom:1em; margin-left:0px;
		padding:5pt;
	}



	HR
	{
		color:#CCCCCC;
		height:1px;
	}

	UL { margin-left:25px; margin-top:10px; margin-bottom:10px; }
	OL { margin-left:25px; margin-top:10px; margin-bottom:10px; }
	UL LI
	{
		line-height:1.5em;
		margin-bottom:0.5em;
	}
	UL LI LI { list-style-type: disc; }
	OL LI { margin-bottom:0.7em; }